@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

:root {
    --vertical-space: 2rem;
    --horizontal-space: 3rem;
    --light-color: #F4F6F7;
    --body-color: #2980B9;
    --heading-color:#2ECC71;
    --contrast-color: #E74C3C;
}

body {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Castoro', serif;
    color: var(--light-color);
    background-image: radial-gradient(circle 5px at top left, rgba(226, 226, 226,0.1) 0%, rgba(226, 226, 226,0.1) 50%,rgba(201, 201, 201,0.1) 50%, rgba(201, 201, 201,0.1) 30%,transparent 30%, transparent 50%),linear-gradient(90deg, rgb(51,51,51),rgb(51,51,51)); background-size: 11px 11px;
}

body {
    display: grid;
    grid-template-areas: "head head"
                         "nav nav"
                         "main main"
                         "foot foot";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto 1fr auto;
}

@media screen and (min-width: 23.6em) {
    body {
        grid-template-areas: "head head"
                             "nav main"
                             "foot foot";
        grid-template-rows: auto 1fr auto;
    }
}

body > * {
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}

h1, h2, h3 {
    line-height: 1.2;
    font-family: 'Open Sans', sans-serif;
    color: var(--body-color);
}

.dropMenu {
    position: relative;
    display: inline-block;    
}

.dropbtn {
    background-color:#2ECC71;
    color: var(--light-color);
    width: 7rem;
    height: 2rem;
    border: none;
}

.content {
    display: none;
    position:absolute;
    width: 7rem;
    height: auto;
    z-index: 1;
    text-align: center;
    

}

.dropMenu:hover .content {
    display: block;
}


body#about img{
    height: 15em;
}

p {
    max-width: 50em;
}

body > header {
    grid-area: head;
}

body > header > div {
    text-align: right;
    text-decoration: underline;
}

body > nav {
    grid-area: nav;
}

body >nav ul {
    list-style-type: none;
    padding: 0;
}

body > main {
    grid-area: main;
}

body > footer {
    grid-area: foot;
}

header, footer {
    padding-top: var(--vertical-space); 
    padding-bottom: var(--vertical-space); 
}

header h1, footer h1 {
    margin: 0;
}

body#portfolio ul#portfolioItems {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}

@media screen and (min-width: 23.6em) {
    body#portfolio ul#portfolioItems li{
        flex-basis: 48%;
        padding-right: 2%;
    }
}



body#portfolio ul#portfolioItems li img{
    max-width: 100%;
}

a:link {
    color: var(--light-color);
    text-decoration-color: #E74C3C;
}

a:visited {
    color: #9B59B6;
}

a:hover {
    color: var(--contrast-color);
}
